.Rightlogin .signupForm{
    
}
.Rightlogin{
    /* text-align: center; */
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.Rightlogin h3{
    color: rgba(0, 126, 148, 1);
    font-size: 30px;
    font-weight: 600;
}
.Rightlogin .loginbutton{
    background-color: rgba(0, 126, 148, 1);
    color: #fff;
    font-size: 1rem;
    border-radius: 0.4rem;
    width: 55%;
    height: 40px;


}
.Rightlogin .loginbuttonwithGoogle{
    background-color: #233142;
    color: #fff;
    font-size: 1rem;
    border-radius: 0.4rem;
    height: 44px;
    width: 55%;
    display: flex;
    align-items: center;

}
.Rightlogin .signuptext a{
    color: rgba(0, 126, 148, 1);
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
}   
