.NavBar{
    background-color: #007E94;
}
#NavItems{
    color: #FFFFFF;
    margin-left: 40px;
    text-decoration: none;

    list-style-type: none;


}
.NavBar .logo{
    color: #FFFFFF;
    font-size: 30px;
    font-weight: medium;
}
