.home {
  margin: 0 auto;
}

.homeheading h3 {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.34);
  font-weight: 700;
}
.homeheading .head {
  color: #007e94;
  font-weight: 700;
}
.homeheading {
  justify-content: center;
  text-align: center;

  display: flex;
  align-items: center;
}
.LeftCol {
  /* height: 550px; */
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rightcol {
  height: 530px;
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
}
.homecontent {
  justify-content: center;
  text-align: center;
  width: 80%;
}
.homecontent p {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.34);
  font-weight: 500;
}
.homebutton .button1 {
  background-color: #007e94;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.homebutton .button2 {
  background-color: rgba(0, 0, 0, 0.34);
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.34);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.homebutton {
  justify-content: space-around;
  text-align: center;
  display: flex;
  align-items: center;
  width: 70%;
}
.herodiv {
  height: 500px;
  background-color: #007e94;
  justify-content: right;
  text-align: center;
  display: flex;
  align-items: center;
}
.heroimage {
  width: 100%;
  justify-content: right;
  text-align: center;
  display: flex;
  align-items: center;
}
.groupRow {
  display: flex;
  height:500px;
}
.groupRow .rightgroupcol {
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
}
.groupRow .rightgroupcol h3{
   font-size: 40px;
  color: rgba(0, 0, 0, 0.34);
  font-weight: 700;

}
.groupRow .rightgroupcol .grouptext{
  padding: 20px;
  text-align: center;
  justify-content: center;
  display: flex;
  height: 100%;
  align-items: center;

}
.groupRow .lefgrouptcol {
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
}
.groupimage {
  width: 100%;
  justify-content: right;
  text-align: center;
  display: flex;
  align-items: center;
}
.timeImage {
 width: 80%;
 height: 100%;

}
.TimeSection{
  background-color: #007e94;
  text-align: center;
  display: flex;
}
.TimeSection .Timeleft h3{
  font-size: 40px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 700;
  margin-Top: 40px;

}
.TimeSection .Timeleft{
  height: 'max-content';
}
.TimeSection .Timeleft .timetext{
  padding: 20px;
  text-align: center;
  justify-content: center;
  display: flex;
  color:#FFFFFF;
  font-size: 20px;
  height:'max-content'

}